.bg{
    background-image: url('C:\Users\captm\OneDrive\Desktop\new\employee\src\images\pexels-codioful-(formerly-gradienta)-7135121.jpg');
    width:30cm;
    height:30cm;

    background-size: 100%;
    background-repeat: no-repeat;
}
